{% extends 'base.html' %}

{% block container %}
 {% if user.is_authenticated %}
<form action="" method="POST">
  {%csrf_token%}
  <div class="form-group">
    <label for="formGroupExampleInput">Title</label><br>
    <!--From forms.py  of questions-->
      {{form.question_title}}
  </div>  
  <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            {{form.question_text}}
  </div>       
        <button type="submit" class="btn btn-primary mb-2">Answer</button>
</form>


{% else %}
<br><br>
<br><br><br><br><br><br>
<center><h5> Please Login to ask a Question </h5></center>
<br><br><br><br><br><br><br><br><br>


{% endif %}

{% endblock %}